:root {
   --color-dark: 15, 15, 15;
   --color-gray: 96, 96, 96;
   --color-light: 255, 255, 255;
   --color-primary: 255 0 0;
   --color-blue: 6, 95, 212;

   --font-family: 'Roboto', sans-serif;

   --font-w-bold: 500;
   --font-w-default: 400;

   --font-s-text-large: 16px;
   --font-s-text-default: 14px;

   --font-s-title-large: 20px;
   --font-s-title-default: 16px;

   --line-h-default: 1.43;
}
