.chips {
   width: 100%;
   padding: 0 10px;
   position: fixed;
   top: 48px;
   left: 230px;
   background-color: rgb(var(--color-light));
   z-index: 1;
   &__list {
      padding: 12px 0;
      display: flex;
      column-gap: 12px;
   }
   &__item {
      height: 32px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      font-weight: var(--font-w-bold);
      background-color: rgba(var(--color-gray), 0.1);
      border-radius: 6px;
      cursor: pointer;
      &_selected {
         color: rgb(var(--color-light));
         background-color: rgb(var(--color-dark));
      }
   }
}
