.form {
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 14px;
   background-color: rgba(var(--color-dark), 0.05);
   border-radius: var(--radius-default);
   &__title {
      font-size: var(--font-s-title-default);
   }
}
